  
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome </p>
<input type="hidden" name="_id" value="<%= id %>">
<a href="/med/login" class="btn btn-secondary">Logout</a>
<a href="/pat/register/<%= id %>" class="btn btn-secondary">Ajouter Patient</a>